{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Все cтатьи и новости</h1>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата и время публикации</td>
               <td>Предпросмотр</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_in|date:'d.M.Y'  }}</td>
                <!-- Добавим специальный фильтр truncatechars,
                чтобы ограничить количество символов до 20.
                Все остальные символы превратятся в многоточие. -->
               <td>{{ post.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}
{% endblock content %}